{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <h1>All Cafes</h1>

            <table class="table">
                <!-- This is where you will write the code to render a Bootstrap
                Table that contains all the information from the
                cafe-data.csv file. -->
                <thead>
                <tr>
                    <th scope="col">{{cafes[0][0]}}</th>
                    <th scope="col">{{cafes[0][1]}}</th>
                    <th scope="col">{{cafes[0][2]}}</th>
                    <th scope="col">{{cafes[0][3]}}</th>
                    <th scope="col">{{cafes[0][4]}}</th>
                    <th scope="col">{{cafes[0][5]}}</th>
                    <th scope="col">{{cafes[0][6]}}</th>
                </tr>
                </thead>
                <tbody>
                {% for cafe in range(1, cafes|length) %}
                <tr>
                    {% for cafeitem in range(0, 7) %}
                    {% if cafeitem == 1 %}
                    <td><a href="{{cafes[cafe][cafeitem]}}">Maps Link</a></td>
                    {% else %}
                    <td>{{cafes[cafe][cafeitem]}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <p><a href="/">Return to index page</a></p>

        </div>
    </div>
</div>

{% endblock %}
